$primary-color: #2196f3;
body {
  background-color: $primary-color;
}
table {
  background-color: #FFF;
  th{
    padding: 15px;
  }
  td {
    padding: 15px;
  }
}
.btn {
  background-color: $primary-color;
}
.btn:hover {
    background-color: lighten($primary-color, 15%);  
}

.search-wrapper {
  margin-top: 15px;
}
.search-wrapper i.material-icons {
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
}
